.header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: #ffffff;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.icon_img{
    height: 50px;
    width: auto;
}

input{
    height: 40px;
    padding: 4px 10px;
    font-size: 20px;
    border-color: #f7a0ff;
}

button{
    height: 40px;
    width: 40px;
    border-color: #f7a0ff;
    background: #ffffff;
}

.search_img{
    height: 30px;
    width: auto;
}

.nav_bar {
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    border-top: 1px solid #f7a0ff;
    border-bottom: 1px solid #f7a0ff;
    margin: 0;
    padding: 5px 5px;
}

.nav_bar a{
    color: #f7a0ff;
    font-size: large;
    text-transform: uppercase;
    font-family: "Calisto MT", serif;
    padding: 10px 10px;
}