.header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: #ffffff;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.icon_img{
    height: 50px;
    width: auto;
    margin: 0;
    padding: 2px 2px;
}

input{
    height: 40px;
    padding: 4px 10px;
    font-size: 20px;
    border-color: #f7a0ff;
}

.header button{
    height: 40px;
    width: 40px;
    border-color: #f7a0ff;
    background: #ffffff;
}

.search_img{
    height: 30px;
    width: auto;
}

.nav_bar {
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    border-top: 1px solid #f7a0ff;
    border-bottom: 1px solid #f7a0ff;
    margin: 0;
    padding: 5px 5px;
}

.nav_bar a{
    color: #f7a0ff;
    font-size: large;
    text-transform: uppercase;
    font-family: "Calisto MT", serif;
    margin: 0;
    padding: 10px 10px;
}

.quotes {
    background: #fff6ec;
}

.quote_img {
    width: 500px;
    height: auto;
    margin: 0;
    padding: 10px 10px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family: "Brush Script MT", cursive;
}

h2 {
    font-family: "Calisto MT", serif;
}

h3 {
    font-family: "Calisto MT", serif;
}

.sale {
    position: relative;
    width: 800px;
    margin: 10px;
    padding: 0;
}

.sale_text {
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-family: "Calisto MT", serif;
    font-size: x-large;
    color: #000000;
}

.sales_img{
    height: 400px;
    width: auto;
    align-items: center;
    box-shadow: 0 0 15px 5px beige;
}

.sales_list {
    display: flex;
    list-style: none;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    width: 500px;
    margin: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 250px;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 250px;
    box-sizing: border-box;
    padding: 20px;
}

.container .details h2{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1em;
    color: #000000;
    float: left;
}

.container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #a2a2a2;
    float: left;
}
.container .details button {
    background: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 2px 3px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}

.books_list {
    display: flex;
    list-style: none;
}

.bestsellers{
    background: #f1ffe1
}
.news{
    background: #e3f8ff
}
.kids{
    background: #fff6ec
}
footer {
    background: #f7a0ff
}